body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background-color: #FFFDDB;
}
}
.awesome {
  color: #61c5b6;
}
}
#life {
  color: #6699ff;
  font-weight: bold;
}
.orange {
  color: #ffa500;
  font-weight: bold;
}
#bike{
  color:blue
  font-weight:bold
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
