body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background-image: url(img/norway-6.jpg);
  background-position: center;
  background-size:cover;
}
.awesome {
  color: #61c5b6;
}
.orange {
  color: #ffa500;
  font-weight: bold;
}
.top5 {
  margin-top:5px;
}
.top7 {
  margin-top:7px;
}
.top10 {
  margin-top:10px;
}
.top15 {
  margin-top:15px;
}
.top17 {
  margin-top:17px;
}
.top50 {
  margin-top:50px;
}
.bottom50 {
  margin-bottom:50px;
}
.container {
    margin-top: 20px;
}

/* Carousel Styles */
.carousel-indicators .active {
    background-color: #2980b9;
}

.carousel-inner img {
    width: 100%;
    max-height: 460px
}

.carousel-control {
    width: 0;
}

.carousel-control.left,
.carousel-control.right {
	opacity: 1;
	filter: alpha(opacity=100);
	background-image: none;
	background-repeat: no-repeat;
	text-shadow: none;
}

.carousel-control.left span {
	padding: 15px;
}

.carousel-control.right span {
	padding: 15px;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev,
.carousel-control .icon-next {
	position: absolute;
	top: 45%;
	z-index: 5;
	display: inline-block;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
	left: 0;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
	right: 0;
}

.carousel-control.left span,
.carousel-control.right span {
	background-color: #000;
}

.carousel-control.left span:hover,
.carousel-control.right span:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}

/* Carousel Header Styles */
.header-text {
    position: absolute;
    top: 20%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}

.header-text h2 {
    font-size: 40px;
}

.header-text h2 span {
    background-color: #2980b9;
	padding: 10px;
}

.header-text h3 span {
	background-color: #000;
	padding: 15px;
}

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

.btn-theme {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 15px;
}

.btn-theme:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}
.img-darker{
  filter:brightness(40%);
}
.jumbotron{
  background-color: white;
}
.trans-bkg{
  background: rgb(255, 255, 255); /* Fallback */
  background: rgba(255, 255, 255, 0.7);
}
@media (max-width: @screen-xs) {
    body{font-size: 1.5em;}
}

@media (max-width: @screen-sm) {
    body{font-size: 1.25em;}
}
